@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito:wght@600;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');



$font-stack: 'Montserrat',
sans-serif;
$font-nunito: 'Nunito',
sans-serif;



.font-nunito {
    font-family: $font-nunito;
    color: #FFFFFF;
}

.font-lato {
    font-family: 'Lato', sans-serif;
    // font-style: normal;
    // font-weight: 600;
}

.navbar-light {

    .nav-link:focus,
    .nav-link:hover {
        color: #31B34B !important;
    }
}

.navbar {
    .nav-link {
        font-size: 12px;
    }

    .text-brand {
        font-family: $font-stack;
    }

    font-weight: bold;

}

figure {
    overflow: hidden;
    margin: 0;

    img {
        display: block;
    }
}

.change-ratio {
    img {
        margin: -5% 0;
    }
}

.df-bg {
    background: url('../../images/main-bg.png') no-repeat center center;
    background-color: transparent !important;
    background-size: cover;
    background-position: 0 60%;

}

.btn-green:hover {
    background-color: honeydew !important;
    color: #79B925 !important;
    border-color: #79B925 !important;
}

.btn-green {
    padding: 5px 30px 5px 30px !important;
    background-color: #79B925 !important;
    border-color: #79B925 !important;
}


.square {
    position: relative;
    width: 250px;
    height: 250px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    // z-index: 2;


}

.square:hover .square-content-pillars-inner {
    transform: rotateY(180deg);

}

// .square:before {
//     content: "";
//     display: block;
//     padding-top: 20%;
//     padding-left: 50%;
// }

.square-content-pillars,
.square-content-pillars-back {
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

.square-content-pillars-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.square-content-pillars-back {
    transform: rotateY(180deg);
    vertical-align: middle;
    margin-top: 40px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 10px;

    display: table-cell;
    position: absolute;
}

.square-content-pillars {
    display: table-cell;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    margin-top: 40px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 10px;
    // padding-left: 40%;
    // color: white

    img {
        width: 45%;
    }

    p {
        margin-top: 20px;

        font-family: $font-nunito;
        color: #5B5B5B;
        ;
    }
}




.img-fluid {
    max-width: 70%;
}

#after-pillars {
    margin-top: 100px;

    .image img {

        box-shadow: 10px 10px 10px 10px rgba(110, 183, 41, 0.30);
    }


}

footer {
    background-color: #2C2C2C;
    color: white;
    margin-top: 50px;

    h6 {
        margin-bottom: 30px;
        font-weight: bold;
    }

    // ul{
    //     margin-left: 50px;
    // }

    .p {
        color: #E3BB97;
        // position: absolute;
        text-align: left;
        // margin: 50px;
        // bottom: 20px;
        // margin-top: 50px;
        font-size: 14px;
        font-weight: 400;
    }

    a {
        color: #E3BB97;
        font-size: 14px;
        text-decoration: none !important;

        &:hover {
            color: rgb(211, 211, 39);
        }

    }

    .r {
        a {
            color: #433529 !important;
            // font-size: 14px;
            ;
        }
    }

    .icon-top {
        color: #d8955a !important;
    }

    a.icon-link {
        text-decoration: none !important;

        &:before {
            content: none;
        }
    }
}

.square-box {
    position: relative;
    width: 100%;
    // height: 50%;
    overflow: hidden;
    background: #2BAF57;
    border-radius: 7px;
}

.square-box:before {
    content: "";
    display: block;
    padding-top: 20%;
    padding-left: 100%;
}

.square-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
}

.square-content div {
    display: table;
    width: 100%;
    height: 100%;
}

.square-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white
}

//Two Pillars

#two-pillars {
    background: #F8F7F7;
}


//Articles & Media Social

#articles-medsos {
    background: linear-gradient(180deg, #2ACF61 0%, #2BAF57 100%);

    .header {
        font-weight: bold;
        font-style: normal;
        // font-size: 2rem;
        color: white;
        // position: static;

    }


    img {
        width: 100%;
        height: 35vh;
        border-radius: 10px;
        object-fit: cover;
    }

    .thumb {
        // overflow: hidden;
        height: 250px;
        overflow: hidden;
    }

    .col-sm {
        margin-top: 70px;
        // position: absolute;
    }

    .square-article {
        // position: absolute;
        // height: 100%;
        width: 85%;
        background: #FFFFFF;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        z-index: 2;
    }

    .btn {
        padding: 5px 30px 5px 30px !important;
        background-color: #eecc46 !important;
        border-color: #eecc46 !important;

    }

    .btn:hover {
        padding: 5px 30px 5px 30px !important;
        background-color: #c5c7c2 !important;
        border-color: #d1d1d1 !important;
    }
}

//client

#projects {
    background: url('../../images/projects/bg.png');

    .header {
        font-weight: bold;
        font-style: normal;
        // font-size: 2rem;
        color: white;
        // position: static;

    }

    .card-img-top {
        width: 100%;
        height: 35vh;
        object-fit: cover;
    }

    .thumb {
        // overflow: hidden;
        height: 250px;
        overflow: hidden;
    }



    // img{
    //     width: 500px;
    //     border-radius: 10px;
    // }

    // .thumb{
    //     // overflow: hidden;
    //     height: 250px;
    //     overflow: hidden;
    // }

    .col-sm {
        margin-top: 70px;
        // position: absolute;
    }

    .square-article {
        // position: absolute;
        // height: 100%;
        width: 85%;
        background: #FFFFFF;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        z-index: 2;
    }

    .btn {
        padding: 5px 30px 5px 30px !important;
        background-color: #eecc46 !important;
        border-color: #eecc46 !important;

    }

    .btn:hover {
        padding: 5px 30px 5px 30px !important;
        background-color: #c5c7c2 !important;
        border-color: #d1d1d1 !important;
    }

}

.square-client {
    // position: absolute;
    background: #2BAF57;
    display: inline-block;
    padding: 10px 30px 10px 30px;
    color: white;
    margin: auto;
    // display: inline;
    // width: 15%

    // overflow: hidden;


}

#client {
    // .container {
    //     position: absolute;
    // }

    // img {
    //     object-fit: contain !important;
    //     margin: auto auto;

    //     width: auto;
    //     height: auto;
    //     max-width: 75%;
    // }

    h6 {
        margin-top: 20px;
    }

    .col-sm {
        margin-top: 20px;

    }




    // .ppt img{
    //     width: 40%;
    //     height: auto;
    // }
}


#contact {
    .container {
        position: relative;
        width: 100%;
        // height: 50%;
        overflow: hidden;
        background: #F0F0F0;
        border-radius: 7px;
    }

    .block {
        display: block;
        width: 90%;
        margin: auto;
        border: none;
        background-color: #79B925;
        color: white;
        padding: 5px 4px;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        border-radius: 5px;
    }

    .block:hover {
        background-color: #ddd;
        color: black;
    }

}





// .carousel-control-next,
// .carousel-control-prev {
//     background-color: green;
// }


//blogs





.bg-cover {
    background-size: cover;
    color: white;
    background-position: center center;
    position: relative;
    z-index: -2;
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-shadow: 1px 1px #000;
}

.overlay {
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.image-wrap{
    position: relative;
    width: 250px;
    height: 200px;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;

    img{
        position: absolute;
        top: -9999px;
        left: -9999px;
        right: -9999px;
        bottom: -9999px;
        margin: auto;
      }
  }
  
  .blog-item{

      a:link, a:active, a:visited{
          color: rgb(29, 28, 28);
          background-color: transparent;
          text-decoration: none;
        }

        a:hover, a:active{
            color: rgb(36, 213, 36);
            background-color: transparent;
            text-decoration: none;
        }
    }


//about
.about {
    h2 {
        text-align: center;
        margin-bottom: 30px;
    }
}


//post
.user-bg {
    // background: url('../../images/main-bg.png') no-repeat center center;
    background-color: transparent !important;
    background-size: cover;
    background-position: 0 60%;
}

.content-blog {

    img {
        max-width: 75%;
        border-radius: 2rem;
        margin: 0 auto;
        box-shadow: 10px 10px rgba(0, 0, 0, 0.15);
        display: block;

    }
}
