title = "Blogs"
url = "/blogs/:slug?/:page?"
layout = "default"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "{{ :slug }}"
postsPerPage = 2
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog-post"
postPage = "blog-post"
==
<div class=" jumbotron df-bg bg-cover">
    <div class="overlay"></div>
    <div class="container">
        <h1 class="display-3 mb-1">{{ blogPosts.category.name}}</h1>
        <!-- <p class="lead">Posted on <span>23 September 2017</span></p> -->
    </div>
</div>

<div class="container">

    {% set posts = blogPosts.posts %}

    <ul class="post-list">
        {% for post in posts %}
        <div class="row mt-3">
            <div class="col-4">
                <div class="image-wrap">
                    {% if  post.content_images[0].path == null  %}
                    <img src="{{'assets/images/bg/article-default-img.jpg' | theme}}"></img>
                    {% else %}
                    <img  src="{{post.content_images[0].path}}">
                    {% endif %}
                </div>
            </div>
            <div class="col-sm blog-item mt-3">

                <li>
                    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>

                    <p class="info">
                        {% if post.categories.count %}
                        {% set categoryLinks = post.categories | map(c => "<a  style=\"font-weight: bold;\">#{c.name}</a>") | join(', ') %}

                        {{ 'rainlab.blog::lang.post.posted_byline' | trans({
                        date: post.published_at | date('rainlab.blog::lang.post.date_format' | trans),
                        categories: categoryLinks
                    }) }}
                        {% else %}
                        {{ 'rainlab.blog::lang.post.posted_byline_no_categories' | trans({
                        date: post.published_at | date('rainlab.blog::lang.post.date_format' | trans)
                    }) }}
                        {% endif %}
                    </p>

                    <p class="excerpt">{{str_limit(post.summary|striptags|raw, 120)}}</p>
                </li>
            </div>
        </div>

        {% else %}
        <li class="no-data">{{ blogPosts.noPostsMessage }}</li>
        {% endfor %}
    </ul>

    {% if posts.lastPage > 1 %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item {{ posts.currentPage > 1 ? '' : 'disabled' }}">
                <a class="page-link" href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}"
                    tabindex="-1" aria-disabled="true">Prev</a>
            </li>
            {% for page in 1..posts.lastPage %}
            <li class="page-item {{ posts.currentPage == page ? 'active' : ''}}"><a class="page-link"
                    href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a></li>
            {% endfor %}
            <li class="page-item {{ posts.lastPage > posts.currentPage ? '' : 'disabled' }}">
                <a class="page-link"
                    href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}">Next</a>
            </li>
        </ul>
    </nav>
    {% endif %}

</div>