title = "Blog Post"
url = "/blog/:slug"
layout = "default"
is_hidden = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = "blog-post"
==
{% set post = blogPost.post %}

{% if post.featured_images.count %}
<div class=" jumbotron user-bg bg-cover" style="background: url({{post.featured_images[0].path}});">
    {% else %}
    <div class=" jumbotron df-bg bg-cover">
        {% endif %}
        <div class="overlay"></div>
        <div class="container">
            <!-- <h1 class="display-3 mb-1">{{slug}}</h1> -->
            <p class="info">
                <h1 align="center">{{post.title}}</h1>
                {% if post.categories.count %}
                {% set categoryLinks = post.categories | map(c => "<a href=\"#{c.url}\">#{c.name}</a>") | join(', ') %}
        
                {{ 'rainlab.blog::lang.post.posted_byline' | trans({
                    date: post.published_at | date('rainlab.blog::lang.post.date_format' | trans),
                    categories: categoryLinks
                }) }}
                {% else %}
                {{ 'rainlab.blog::lang.post.posted_byline_no_categories' | trans({
                    date: post.published_at | date('rainlab.blog::lang.post.date_format'|trans)
                }) }}
                {% endif %}
                
            </p>
            <!-- <p class="lead">Posted on <span>23 September 2017</span></p> -->
        </div>
    </div>

    <div class="container">
        
        <div class="content-blog p-5" align="justify">{{ post.content_html | raw }}</div>
    </div>
    <!-- 
    {% if post.featured_images.count %}
    <div class="featured-images text-center">
        {% for image in post.featured_images %}
        <p>
            {{image.path}}
            <img data-src="{{ image.filename }}" src="{{ image.path }}" alt="{{ image.description }}"
                style="max-width: 100%" />
        </p>
        {% endfor %}
    </div>
    {% endif %} -->
</div>
