==
<footer class="page-footer font-small blue pt-4">
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
        
        <!-- Grid row -->
        <div class="container font-nunito">
            
            <div class="row justify-content-md-center">
                <div class="col-sm p-3 ">
                    <h6>Sustainibilitas Hijau Indonesia</h6>
                    <div class="p">Far far away, behind the word mountains, far from the countries</div>

                    <div class="r mt-5">
                        <a href="https://www.linkedin.com/company/pt-energy-infrastruktur-indonesia" class="icon-link">
                            <span class="fa-stack mx-2">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-linkedin-in fa-stack-1x icon-top"></i>
                            </span>
                        </a>
                        <a href="https://www.facebook.com/Energi-Infrastruktur-Indonesia" class="icon-link">
                            <span class="fa-stack mx-2">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x icon-top"></i>
                            </span>
                        </a>
                        <a href="https://www.instagram.com/eiindonesia/" class="icon-link">
                            <span class="fa-stack mx-2">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram fa-stack-1x icon-top"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-sm text-center p-3">
                    <h6>Company</h6>
                    
                    <ul class="list-unstyled text-md-center ">
                        <li>
                            <a href="#">Innovations</a>
                        </li> 
                        <li>
                            <a href="#">Project</a>
                        </li> 
                        <li>
                            <a href="#">News / Blog</a>
                        </li> 
                    </ul>
                    
                </div>
                <div class="col-sm text-center p-3">
                    <h6>About Us</h6>
                    <ul class="list-unstyled text-md-center">
                        <li>
                            <a href="#">Our Story</a>
                        </li> 
                        <li>
                            <a href="#">Meet the team</a>
                        </li> 
                        <li>
                            <a href="#">Careers</a>
                        </li> 
                        <li>
                            <a href="#">FAQ</a>
                        </li> 
                    </ul>
                    
                </div>
                <div class="col-sm text-center  p-3">
                    <h6>Have a Question?</h6>
                    <ul class="list-unstyled text-md-center">
                        
                        <li>
                            <i class="fas fa-map mr-2 float-left ml-5 icon-top"></i><a href="#">Address</a>
                        </li> 
                        <li>
                            <i class="fas fa-phone fa-flip-horizontal ml-5 mr-2 float-left icon-top"></i><a href="#">Phone Number</a>
                        </li> 
                        <li>
                            <i class="fas fa-envelope float-left ml-5 mr-2 icon-top"></i><a href="#">E-mail</a>
                        </li> 
                    </ul>
                    
                </div>
            </div>
            
            <!-- Footer Links -->
        </div>
        <!-- Copyright -->
        <div class="footer-copyright font-nunito text-center py-3 mt-3">Copyright @2020 All rights reserved |
            <a href="http://www.inpartner.id//"> Inpartner</a>
        </div>
        <!-- Copyright -->
        
    </footer>
    <!-- Footer -->