==
<footer class="page-footer font-small blue pt-4">
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
        
        <!-- Grid row -->
        <div class="container font-nunito">
            
            <div class="row justify-content-md-center">
                <div class="col-sm p-3 ">
                    <h6>Sustainibilitas Hijau Indonesia</h6>
                    <div class="p">Far far away, behind the word mountains, far from the countries</div>
                    
                </div>
                <div class="col-sm text-center p-3">
                    <h6>Company</h6>
                    
                    <ul class="list-unstyled text-md-center ">
                        <li>
                            <a href="#">Innovations</a>
                        </li> 
                        <li>
                            <a href="#">Project</a>
                        </li> 
                        <li>
                            <a href="#">News / Blog</a>
                        </li> 
                    </ul>
                    
                </div>
                <div class="col-sm text-center p-3">
                    <h6>About Us</h6>
                    <ul class="list-unstyled text-md-center">
                        <li>
                            <a href="#">Our Story</a>
                        </li> 
                        <li>
                            <a href="#">Meet the team</a>
                        </li> 
                        <li>
                            <a href="#">Careers</a>
                        </li> 
                        <li>
                            <a href="#">FAQ</a>
                        </li> 
                    </ul>
                    
                </div>
                <div class="col-sm text-center  p-3">
                    <h6>Have a Question?</h6>
                    <ul class="list-unstyled text-md-center">
                        <i class="fas fa-map"></i>
                        <li>
                            <a href="#">Address</a>
                        </li> 
                        <li>
                            <a href="#">Phone Number</a>
                        </li> 
                        <li>
                            <a href="#">E-mail</a>
                        </li> 
                    </ul>
                    
                </div>
            </div>
            
            <!-- Footer Links -->
        </div>
        <!-- Copyright -->
        <div class="footer-copyright font-nunito text-center py-3 mt-3">Copyright @2020 All rights reserved |
            <a href="http://www.inpartner.id//"> Inpartner</a>
        </div>
        <!-- Copyright -->
        
    </footer>
    <!-- Footer -->